.container {
    display: flex;
    margin: 0 auto;
    padding: auto;
}

.c1 {
    justify-content: center;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

.text-truncate {
    max-width: 180px; padding-left: 10px;
}

body {
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: rgb(226, 226, 226);
}

.col-6 {
    width: 360px;
    background-color: rgb(248, 248, 248);
    -webkit-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
    margin-top: 20px;
    margin-right: 20px;
}

.col-6:hover {
    -webkit-box-shadow: 8px 8px 5px -5px rgba(34, 60, 80, 0.6);
    -moz-box-shadow: 8px 8px 5px -5px rgba(34, 60, 80, 0.6);
    box-shadow: 8px 8px 5px -5px rgba(34, 60, 80, 0.6);
}

.circle1 {
    width: 80px;
    height: 80px;
    background-image: url("https://pbs.twimg.com/media/EyyYpkmXIAAmVFH.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}

.circle2 {
    width: 80px;
    height: 80px;
    background-image: url("https://avatars.mds.yandex.net/get-zen_doc/1542122/pub_5e720c3f29c4394704d5e17e_5e7211b0f6d9d7377d6e23aa/scale_1200");
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}

.circle3 {
    width: 80px;
    height: 80px;
    background-image: url("https://cdn.fishki.net/upload/post/201601/31/1832270/459361_original.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}

.circle4 {
    width: 80px;
    height: 80px;
    background-image: url("https://kulturologia.ru/files/u18476/MeetPuiPui-3.jpg");
    background-size: cover;
    background-position: center;
    border-radius: 40px;
}

.col-3 {
    padding-top: 20px;
    padding-left: 20px;
}

.col-8 {
    padding-top: 22px;
    padding-left: 20px;
}

.row {
    padding-top: 5px;
}

::-webkit-scrollbar {
    width: 0;
  }

.dot {
    width: 15px;
    height: 15px;
    background-color: rgb(21, 255, 146);
    background-size: cover;
    background-position: center;
    border-radius: 7.5px;
    -webkit-box-shadow: 1px 6px 7px -3px rgba(34, 60, 80, 0.5);
    -moz-box-shadow: 1px 6px 7px -3px rgba(34, 60, 80, 0.5);
    box-shadow: 1px 6px 7px -3px rgba(34, 60, 80, 0.5);
}

.col-2 {
    padding-left: 50px;
    padding-top: 18px;
}

.col {
    padding-left: 20px;
}

.rowA {
    font-weight: 500;
}

.h4 {
    font-weight: 500;
}
